{% extends 'clienttemplate/base.html' %}
{% load static %}
{% block body %}
  <!--================ Hero sm Banner start =================-->        
  <section class="mb-30px">
    <div class="">
      <div class="hero-banner hero-banner--sm">
        <div class="hero-banner__content">
          <h1> Blog by category </h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page"> category </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->      
  

  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            {% for categories in cate %}
            <div class="col-md-6">
              <div class="single-recent-blog-post card-view">
                <div class="thumb">
                  <img class="card-img rounded-0" style="max-height: 200px !important; object-fit: cover;" src="{{categories.thumbnail.url}}" alt="">
                  <ul class="thumb-info">
                    <li><a href="#"><i class="ti-user"></i>{{categories.author.username}}</a></li>
                    <li><a href="#"><i class="ti-themify-favicon"></i>{{categories.comment_count}} Comment</a></li>
                  </ul>
                </div>
                <div class="details mt-20">
                  <a href="{{categories.get_absoulate_url}}">
                    <h3>{{categories.title}}<h3>
                  </a>
                  <p>{{categories.overview|safe}}</p>
                  <a class="button" href="{{categories.get_absoulate_url}}">Read More <i class="ti-arrow-right"></i></a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-lg-12">
              <nav class="blog-pagination justify-content-center d-flex">
                {% if is_paginated %}
                <ul class="pagination">
                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">
                        <i class="ti-angle-left"></i>
                      </span>
                    </a>
                  </li>
                  {% endif %}
                  <li class="page-item active"><a href="" class="page-link">Page {{ page_obj.number }} of {{page_obj.paginator.num_pages }}.</a></li>
                  {% if page_obj.has_next %}
                  <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                      <span aria-hidden="true">
                        <i class="ti-angle-right"></i>
                      </span>
                    </a>
                  </li>
                  {% endif %}
                </ul>
                {% else %}
                <p>File not yet available</p>
                {% endif %}
              </nav>
            </div>
          </div>
        </div>
        {% block sidebar %}{% include 'clienttemplate/sidebar.html' %}{% endblock sidebar%}
        </div>
        <!-- End Blog Post Siddebar -->
      </div>
  </section>
  <!--================ End Blog Post Area =================-->
{% endblock %}